

<div class="row">
        <legend>Staffs Search</legend>
    <div class="span13">


    <%= form_tag staffs_path, method: 'get' do %>
    	<div class="row">
            <h4>
            <div class="form-inline">
            <div class="span3">
    	   <%=  t('staff.name')  %>
             <%= text_field_tag :EmployeeName, nil, class: 'span2' %>
             </div>
<div class="span4">
    	 <%=  t('staff.department')  %>
        <select name="department_id"   class="span2">
    	 <option value=" ">Please select</option>
                <% Department.all.each do |de| %>
                 <option value="<%= de.DepartmentID %>"> <%= de.DepartmentName %></option>
        <% end %>
        </select>
</div>
<div class="span4">
         <%= t('staff.startworking')  %>
          <%= text_field_tag :StartDate, nil, class: 'span2' %>
 </div>
<div class="span2">
<%= check_box_tag :HaveContracted %>
          <%= t('staff.have_contracted') %>
</div>
<div class="span3_1">
<div class="row">
         <%= submit_tag  "Search", EmployeeID: nil, class: "btn  btn-primary" %>

                <a class="btn accordion-toggle" data-toggle="collapse" data-parent="#newstaff" href="#new">
                New Staff
                </a>
        </div>
          </div>
</div>

      </h4>
          </div>


    <% end %>
    <br/>


</div>
</div>
