
    	<div class="span2">
    	<%= f.label :PositionName %></div>
    	<div class="span3"><%= f.text_field :PositionName %></div>

        <div class="span2"><%= f.label :'Position Short Name' %></div>
       <div class="span3"><%= f.text_field :PositionShortName %></div>
        <div class="span2">
    	<%= f.label :Description %></div>
    	<div class="span3"><%= f.text_area :Description , :size => "20x4" %></div>
