<div class="span9 offset2">
<div class="row">
<div class="span3"><%= f.label :name %></div>
<div class="span6"> <%= f.text_field :name %></div>
</div>
</div>
<div class="span9 offset2">
<div class="row">
<div class="span3">      <%= f.label :email %>
       </div>
<div class="span6"><%= f.text_field :email %> </div>
</div>
</div>

<div class="span9 offset2">
<div class="row">
<div class="span3"><%= f.label :password %></div>
<div class="span6"><%= f.password_field :password %> </div>
</div>
</div>

<div class="span9 offset2">
<div class="row">
<div class="span3">       <%= f.label :password_confirmation, "Confirm Password" %></div>
<div class="span6">    <%= f.password_field :password_confirmation %>  </div>
</div>
</div>

<div class="span9 offset2">
<div class="row">
<div class="span3"> <%= f.label :skyper, "Skyper" %>
 </div>
<div class="span6"><%= f.text_field :skyper %></div>
</div>
</div>

<div class="span9 offset2">
<div class="row">
<div class="span3"><%= f.label :dateofbirth, "Date of birth" %></div>
<div class="span6"><%= f.text_field :dateofbirth %></div>
</div>
</div>


<div class="span9 offset2">
<div class="row">
<div class="span3"><%= f.label :roles, "Roles" %> </div>
<div class="span6"><%= f.text_field :roles %> </div>
</div>
</div>

<div class="span9 offset2">
<div class="row">
<div class="span3"><%= f.label :status, "Status" %></div>
<div class="span6"><%= f.text_field :status %>  </div>
</div>
</div>
