   <script>
    $(function() {
        $("#working_day").datepicker({ format: 'yyyy-mm-dd'})
    });
    </script>

<h1><%= t('time_in_time_out.index_title')%></h1>

    <%= form_tag time_in_time_outs_path, method: 'get', class: "form-search" do %>
    	<div class="span11">
    	<div class="row">
    	<div class="span5 input-append">
    	 <span class="add-on"><%= t('time_in_time_out.department') %></span>
    	 <select name="department_id">
    	 <option value=" ">Please select</option>
    <% Department.all.each do |dep| %>
                 <option value="<%= dep.DepartmentID %>"><%= dep.DepartmentName %></option>
        <% end %>
        </select>
    	 </div>

    	<div class="span5 input-append form-search">
        <span class="add-on"><%= t('time_in_time_out.woking_day_search') %></span>
        <%= text_field_tag :working_day , params[:working_day], placeholder: "Date format: yyyy-mm-dd" %>
        <%= submit_tag "Go!", WorkingDay: nil, class: "btn  btn-primary" %>
        </div>
          </div>
          </div>
    <% end %>


<div class="row">

<% if !@time_in_time_outs.nil? %>
<div class="span11 pagination "> <%= will_paginate %></div>

<table class="table table-hover" >

  <tr>
     <th class="span1"><%= t('system.no')%></th>
    <th><%= t('time_in_time_out.staff_name')%></th>
    <th><%= t('time_in_time_out.time_in_title')%></th>
    <th><%= t('time_in_time_out.time_out_title')%></th>
    <th><%= t('time_in_time_out.working_day_title')%></th>
    <th><%= t('time_in_time_out.working_hours')%></th>

    <th><%= t('system.link_edit')%></th>
  </tr>
<%
@total_hour=0
@total_min=0
@total_na=0
@i=0
%>
<% @time_in_time_outs.each do |timeinout| %>

  <tr>
   <td class="span1"><%= @i+=1%></td>
    <td><%=timeinout.staff.EmployeeName %></td>
    <td> <%=
    if (!timeinout.TimeIn.nil?)

     timeinout.TimeIn.strftime("%H:%M")

     end %>

     </td>
    <td><%=
    if (!timeinout.TimeOut.nil?)
    timeinout.TimeOut.strftime("%H:%M")
     end
     %></td>
    <td><%= if (!timeinout.WorkingDay.nil?)
    timeinout.WorkingDay.strftime("%Y-%m-%d")
    end
    %>  </td>

        <td><%= if (!timeinout.WorkingDay.nil? && ( !timeinout.TimeOut.nil?) && (!timeinout.TimeIn.nil?) )

timein=((timeinout.TimeIn.to_time.min*60) +(timeinout.TimeIn.to_time.hour*3600))

timeout=((timeinout.TimeOut.to_time.min*60) +(timeinout.TimeOut.to_time.hour*3600))

if(timeout > timein)
@total_hour+=((timeout-timein)/3600)
@total_min+=(((timeout-timein)%3600)/60)
else
@total_na+=1
end
(timeout > timein)? "#{(timeout-timein)/3600}:#{((timeout-timein)%3600)/60}" : "Na"
    end
    %>  </td>


    <td><%= link_to t('system.link_edit'), edit_time_in_time_out_path(timeinout) ,class: 'background'  %></td>
  </tr>
<% end %>
<tr>
        <th></th>
        <th><%="#{t('time_in_time_out.total_woking_hours')}: "%></th>
       <th><%=
        @total_hour=@total_hour+ (@total_min/60)
        @total_min= @total_min%60
        "#{@total_hour}:#{@total_min} "%></th>
        <th></th>
        <th></th>
        <th><%="#{t('time_in_time_out.count_NA')}: #{@total_na}"%></th>
        <th></th>
</tr>
</table>
<%else
t('no_record_found')
 %>
<br />
<% end %>
</div>
<%= link_to t('system.link_new'), new_time_in_time_out_path ,  class: 'background'  %>
