<h1>New project</h1>

<div class="row">
    <%= form_for(@project) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f%>
      <div class="span11 offset2">
     <div class="row"> <div class="span3"> <%= f.submit "Create Project", class: "btn btn-primary" %></div>
     <div class="span8"> <%= link_to 'Back', projects_path ,  class: 'background' %></div></div></div>
     </div>
    <% end %>
</div>
